==========================Layout============================*/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
body {
    background: #fff;
    color: #666666;
    /*background-image:url('img/capa.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;*/
    height: 100%;
}

/* -- Barra de Navegação --*/
.menu{
    padding: 30px 0;
    height: 92px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}
.menu.menu-diferente {
	background: rgba(55,58,72,0.5);
	padding: 20px 0;
    height: 72px;
    transition: all 0.5s;
 }

#nav-menu-container {
    float: right;
    margin: 0;
    padding-right: 60px;
    background: none;
}


.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-menu a {
    padding: 0 8px 10px 8px;
    text-decoration: none;
    display: inline-block;
    color: #FFC636;
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    outline: none;
}
/*----------------------------------Underline effect item navbar--------------------------------*/
.nav-menu a:after {
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	left: 0;
	bottom: 0;
	visibility: hidden;
	background-color:  #FFC636;
	-webkit-transition: all .1s ease;
	transition: all 0.3s ease;  
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
}
.nav-menu li:hover > a, .nav-menu > .menu-active, .nav-menu > .menu-active > a, .nav-menu li:hover  {
    color: #FFC636;
    padding-top: 1em !important;
    transition: all 1s;
}
.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
}
.nav-menu a:hover:after{
	visibility: visible;
	-webkit-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
}
/*----------------------------------------------------------------------------------------------------*/

.nav-menu > li {
    margin-left: 10px;
}
.nav-menu li {
    position: relative;
    white-space: nowrap;
}
#logo{
    padding-left: 40px;
}
#logo a{
    text-decoration: none;
    color: #FFC636;
    font-size: 20px;
}
.navbar-toggle {
	background-color: none;
	border: 1px solid #9c9898a6;
}
.navbar-collapse {
    background: rgba(255,255,255,0.8);
}
.navbar-toggle .icon-bar {
    background: black;
}


/* -- /Barra de Navegação --*/


/* -- Imagem de Capa --*/
.capa{
	padding: 480px 0 0;
    background-size: contain;
    background-repeat: no-repeat;
}

.texto-capa{
	height: 100px;
	margin-top: -300px;
	text-align: center;
	padding: 0;
	

}
.texto-capa h1{}

/* -- /Imagem de Capa --*/

/* -- Botões --*/

/* -- /Botões --*/

/* -- Sobre  --*/

/* -- /Sobre  --*/

/* -- Serviços  --*/

/* -- /Serviços  --*/

/* -- Footer  --*/
footer.nb-footer {
    background: #222;
    border-top: 4px solid #b78c33;
 }
footer.nb-footer .about {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1170px;
    text-align: center; 
}
footer.nb-footer .about p {
    font-size: 13px;
    color: #ffffffa6;
    margin-top: 30px;
}
footer.nb-footer .about .social-media {
    margin-top: 15px; 
}
footer.nb-footer .about .social-media ul li a {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    font-size: 16px;
    color: #b78c33;
    border: 1px solid rgba(255, 255, 255, 0.3);
 }
footer.nb-footer .about .social-media ul li a:hover {
    background: #b78c33;
    color: #fff;
    border-color: #b78c33;
}
footer.nb-footer .footer-info-single {
    margin-top: 30px; 
}
footer.nb-footer .footer-info-single .title {
    color: #aaa;
    text-transform: uppercase;
    font-size: 16px;
    border-left: 4px solid #b78c33;
    padding-left: 5px; 
}
footer.nb-footer .footer-info-single ul li a {
    display: block;
    color: #aaa;
    padding: 2px 0; 
}
footer.nb-footer .footer-info-single ul li a:hover {
    color: #b78c33;
 }
footer.nb-footer .footer-info-single p {
    font-size: 13px;
    line-height: 20px;
    color: #aaa;
}
footer.nb-footer .copyright {
    margin-top: 15px;
    background: #111;
    padding: 7px 0;
    color: #999; 
}
footer.nb-footer .copyright p {
    margin: 0;
    padding: 0; 
}
footer.nb-footer .copyright a {
    margin: 0;
    padding: 0; 
    color:#999;
}
/* -- /Footer  --*/

/*==========================Layout============================*/

/* ======================= Tipografia =============================*/
h1{
	font-size: 40px;
	font-family: 'Josefin Sans', sans-serif;
}

/* ======================= w/Tipografia =============================*/

/* ======================= Medias Q =============================*/

/* ======================= /Medias Q =============================